@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html, */
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------header--------*/
header {
  height: 8vh;
}

.logo img {
  width: 50px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #C1B086;
}

#active {
  color: #C1B086;
}

#active-home:hover {
  color: white;
}
/*--------------home--------*/
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 20% 0 0 10%;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home h1 span {
  font-size: 40px;
  font-weight: 400;
  color: #C1B086;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}

.home button {
  cursor: pointer;
}
.home button:hover {
  background-color: #C1B086;
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

.home .text {
  margin-left: 50px;
  margin-top: 8%;
}
/*--------------about--------*/

#about {
 background-color: rgb(5, 5, 43);
}

.about-container {
  display: flex;
}

.top {
  margin-top: 8%;
}

.mtop {
  margin-top: 5%;
}

.left, .right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
  margin-left: 20%;
  margin-bottom: 20%;
}

.about .image1 {
  width: 310px;
  height: 450px;
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #e0ddd4;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #e9e8e8;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #e2d7d7;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #f5f3f3;
  margin: 0 0 20px 50px;
}

.heading {
  margin: 50px 0 20px 50px;
}

/*--------------wrapper--------*/
.wrapper {
  background-image: url("../image/ami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper .text {
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}

/*--------------room--------*/
.content-grid{
  display: flex;
  justify-content: space-between;
}

.room img {
  border-radius: 10px;
  width: 90%;
  height: 95%;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgba(238, 238, 240, 0.1);
}

.room .text {
  padding: 20px;
}

.room h3 {
  font-weight: 400;
  margin-bottom: 10px;
  color: #e2d7d7;
}

.room p span {
  font-size: 12px;
  color :white;
}

.room p {
  font-size: 20px;
}


/*--------------gallery--------*/
.gallery img {
  width: 270px;
  height: 350px;
}

.hotel-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.hotel-carousel .item {
  border-radius: 10px;
}

/* Contact Page */

body {
  background-color: #f0f0f0;
}

.container-about {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.5);
}

.container-about h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.container-about p {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

form .mb-3 {
  margin-left: 40px;
}
.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 15px;
  width: 80%;
}

.form-control:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  margin-left: 40px;
  background-color: #5036c5;
  border-color: #5036c5;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(63, 22, 211, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.btn-primary:hover {
  background-color: #1b0c5c;
  border-color: #1b0c5c;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 40px;
  color: #333;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}